{% extends 'base.html.twig' %}

{% block title %}Hello ReactController!{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('hello') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('hello') }}
{% endblock %}


{% block body %}


<div id="root_hello">

</div>


{% endblock %}


