<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Space Client</title>
</head>
<body>
    <div id="root"></div>
    {# Adjust the path below to match your Webpack Encore output #}
    <script src="{{ asset('build/mainApp.js') }}"></script>
</body>
</html>
