{% extends 'main.html.twig' %}
{% block body %}

<section class="cat_section mt-5">
  <div class="container">
     <h2 class="text-center mb-4"> Toutes les catégories</h2>
    <div class="row">
      {% for cat in categories %}
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="card">
            <img src="/images/ins.jpg" class="card-img-top" alt="{{ cat.nomCat }}">
            <div class="card-body">
              <h5 class="card-title">{{ cat.nomCat }}</h5>
              <p class="card-text">{{ cat.descCat }}</p>
              <a href="{{ path('produit_par_categories', {'id': cat.id}) }}" class="btn btn-primary">Voir produits</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}