{% extends 'main.html.twig' %}

{% block body %}
<div class="container mt-5">
 <h2 class="fw-bold">{{ fournisseur.nomFournisseur }}</h2>
<p>{{ fournisseur.fouDescription }}</p>

</div>
{% endblock %}

