{% extends 'main.html.twig' %}

{% block title %}Galerie de produits{% endblock %}

{% block body %}
<div class="container-fluid gallery">
    <h2 class="gallery-title">Notre Produits</h2>
    <div class="row">
        {% for produit in produits %}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="gallery-item">
                <a href="{{ produit.photo }}" target="_blank">
                    <img src="{{ produit.photo }}" alt="{{ produit.nomProduit }}">
                    <div class="gallery-overlay">
                        <span>{{ produit.nomProduit }}</span>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
