{% extends 'main.html.twig' %}

{% block body %}

<section class="produit_section mt-5">
  <div class="container">
    <h2 class="text-center mb-5 fw-bold">Tous les Produits</h2>
    <div class="row g-4">
      {% for produit in produits %}
        {% include 'produit_card.html.twig' with { produit: produit } %}
      {% endfor %}
    </div>
  </div>
</section>

{% include 'produit_modal.html.twig' %}
{% endblock %}


